@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;800&display=swap");
:root {
  --main-bg: #131720;
  --star-blue: #2f80ed;
  --gray: #e0e0e0;
  --bg-gradient: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  --main-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
}
body {
  font-family: "Inter", sans-serif;
  color: #fff;
}
.main {
  background-color: var(--main-bg);
  padding-bottom: 50px;
}
.btn--disabled {
  opacity: 0.5;
  cursor: initial;
}
.btn {
  text-transform: uppercase;
  font-weight: 500;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.bg--gradient {
  background: var(--bg-gradient);
  -webkit-box-shadow: var(--main-shadow);
  -moz-box-shadow: var(--main-shadow);
  box-shadow: var(--main-shadow);
}
.border--gradient {
  border-top-width: 2px;
  border-top-style: solid;
  -webkit-border-image: -webkit-linear-gradient(
      133.47deg,
      #26fff2 13.2%,
      #326cff 71.54%
    )
    1;
  -moz-border-image: -moz-linear-gradient(
      133.47deg,
      #26fff2 13.2%,
      #326cff 71.54%
    )
    1;
  -o-border-image: -o-linear-gradient(133.47deg, #26fff2 13.2%, #326cff 71.54%)
    1;
  border-image: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%) 1;
}
.gradient-border {
  width: 100%;
  height: 1px;
}
.gradient--text {
  background: var(--bg-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.section-padding {
  padding: 50px 0;
}
.heading {
  max-width: 1000px;
  margin-bottom: 40px;
}
.heading__title {
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-size: 36px;
}
.heading__title--big {
  font-size: 38px;
}
.heading__subtitle {
  line-height: 150%;
  color: var(--gray);
  margin-top: 20px;
}
.heading__subtitle--big {
  font-size: 18px;
}
.movie__age {
  font-weight: 500;
}
.movie__rate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 100%;
}
.movie__rate svg {
  width: 20px;
  height: 20px;
  fill: var(--star-blue);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--main-bg);
  height: 100px;
  -webkit-box-shadow: 0 0 10px 0 #000;
  -moz-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000;
}
.header__body {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  max-width: 150px;
  height: 60px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__sign {
  font-family: "Rubik", sans-serif;
  padding: 15px 41px;
}
.header__sign svg {
  display: none;
  width: 25px;
  fill: #fff;
}
.header__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__buttons > svg {
  width: 25px;
  height: 25px;
  display: none;
  fill: #fff;
  margin-right: 15px;
}
.header__bt-border {
  margin-top: 100px;
}
.nav {
  padding-left: 10%;
  -webkit-box-flex: 1.5;
  -webkit-flex-grow: 1.5;
  -moz-box-flex: 1.5;
  -ms-flex-positive: 1.5;
  flex-grow: 1.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__link {
  position: relative;
  font-size: 18px;
  color: var(--gray);
}
.nav__link:not(:last-child) {
  margin-right: 40px;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0%;
  background-image: var(--bg-gradient);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.nav__link:hover::after {
  width: 100%;
}
.burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  max-width: 250px;
  width: 100%;
  height: 100vh;
  padding: 30px 0;
  background-color: var(--main-bg);
  -webkit-box-shadow: 0 0 10px 0 #000;
  -moz-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.burger--active {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.burger__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 30px;
}
.burger__heading img {
  max-width: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}
.burger__close {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  fill: #fff;
}
.burger .nav__link {
  display: block;
  text-align: center;
  padding: 10px 0;
}
.burger .nav__link:not(:last-child) {
  margin-right: 0;
}
.footer {
  background: var(--main-bg);
  padding: 80px 0 40px 0;
}
.footer__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer__column:first-child {
  max-width: 300px;
}
.footer__column:not(:last-child) {
  margin-right: 10%;
}
.footer__column:last-child .footer__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__column:last-child .footer__link svg {
  margin-right: 10px;
}
.footer__inf {
  margin-top: 20px;
  line-height: 140%;
}
.footer__title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer__link {
  display: block;
  color: var(--gray);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.footer__link:hover {
  color: var(--star-blue);
}
.footer__link:not(:last-child) {
  margin-bottom: 20px;
}
.filter {
  padding: 25px 0;
  -webkit-box-shadow: 0 2px 10px 0 #110e0e;
  -moz-box-shadow: 0 2px 10px 0 #110e0e;
  box-shadow: 0 2px 10px 0 #110e0e;
}
.filter__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.filter__option {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 10px;
}
.filter__option--active {
  color: var(--star-blue);
}
.movies__grid {
  margin: -15px;
}
.movies__wrapper {
  width: 16.6666%;
  padding: 15px;
}
.movies__card {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
.movies__img {
  position: relative;
  padding-bottom: 140%;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.movies__card:hover .movies__img::after {
  opacity: 0.9;
}
.movies__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.movies__img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.movies__img > svg {
  opacity: 0;
  width: 50px;
  height: 50px;
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.movies__card:hover .movies__img > svg {
  opacity: 1;
}
.movies__rate {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--main-bg);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.movies__rate svg {
  margin-right: 6px;
  width: 18px;
  height: 18px;
  fill: var(--star-blue);
}
.movies__card:hover .movies__rate {
  visibility: visible;
  opacity: 1;
}
.movies__title {
  font-weight: 500;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.movies__card:hover .movies__title {
  color: var(--star-blue);
}
.movies__inf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.movies__inf-item {
  font-size: 12px;
  color: var(--gray);
  margin-right: 15px;
}
.movies__btn {
  padding: 15px 60px;
  margin: 20px auto 0 auto;
  display: block;
}
.new-movies__grid {
  margin: -15px;
}
.pricing__grid {
  margin: -15px;
}
.pricing__wrapper {
  width: 33.3333%;
  padding: 15px;
}
.pricing__card {
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px 0 #0c0b0b;
  -moz-box-shadow: 0 0 10px 0 #0c0b0b;
  box-shadow: 0 0 10px 0 #0c0b0b;
}
.pricing__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pricing__type {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.pricing__price {
  font-size: 26px;
  text-transform: uppercase;
}
.pricing__features {
  margin-bottom: 25px;
}
.pricing__option {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 0 10px 30px;
}
.pricing__option::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: var(--bg-gradient);
}
.pricing__btn {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.partners__grid {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.partners__grid img {
  width: 100%;
}
.page-heading {
  padding: 70px 0;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-image: url("../../images/bg.jpg");
}
.page-heading__grid {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-heading__title {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
}
.page-heading__breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.page-heading__breadcrumb svg {
  margin: 0 15px;
  fill: rgba(255, 255, 255, 0.5);
}
.slider-movie {
  padding: 120px 0;
  background: url("../../images/slider-main.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider-movie__grid {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slider-movie__content {
  max-width: 600px;
  width: 45%;
}
.slider-movie__image {
  max-width: 400px;
}
.slider-movie__title {
  font-size: 55px;
  margin-bottom: 20px;
}
.slider-movie__inf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.slider-movie__inf > :not(:last-child) {
  margin-right: 25px;
}
.slider-movie__inf span {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}
.slider-movie__descr {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 30px;
}
.slider-movie__btn {
  padding: 15px 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.about-us__heading {
  margin-bottom: 40px;
}
.about-us__heading h1 {
  margin-bottom: 50px;
}
.about-us__heading p {
  line-height: 180%;
}
.steps {
  margin: -15px;
}
.steps__wrapper {
  padding: 15px;
  width: 33.3333%;
}
.steps__card {
  width: 100%;
  height: 100%;
  background-color: #151f30;
  padding: 30px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.steps__number {
  display: block;
  min-width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 26px;
  position: relative;
}
.steps__number::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #fff;
  background-color: rgba(47, 128, 237, 0.3);
}
.features__grid {
  margin: -20px;
}
.features__wrapper {
  width: 25%;
  padding: 20px;
}
.features__card {
  width: 100%;
  height: 100%;
}
.features__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.features__heading svg {
  fill: var(--star-blue);
  width: auto;
  height: 34px;
  margin-right: 10px;
}
.features__title {
  font-size: 20px;
}
.qa__body {
  width: 100%;
}
.qa__item {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(47, 128, 237, 0.3);
  overflow: hidden;
}
.qa__item:not(:last-child) {
  margin-bottom: 20px;
}
.qa__heading {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.qa__heading svg {
  margin-left: 20px;
  min-width: 20px;
  height: 20px;
  fill: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.qa__content {
  line-height: 150%;
  padding: 0 25px;
  overflow: hidden;
  max-height: 0;
  color: #000;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.qa__item--active .qa__heading {
  background: var(--bg-gradient);
  color: #fff;
}
.qa__item--active .qa__heading svg {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.qa__item--active .qa__content {
  max-height: 1000px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.contacts__form {
  width: 62%;
  margin-right: 5%;
}
.contacts__fields {
  border: 1px solid #151f30;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.contacts__inf {
  width: 33%;
}
.contacts__field {
  background-color: #151f30;
  border: 1px solid transparent;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 15px 20px;
}
.contacts__field::-webkit-input-placeholder {
  color: #fff;
}
.contacts__field:-moz-placeholder {
  color: #fff;
}
.contacts__field::-moz-placeholder {
  color: #fff;
}
.contacts__field:-ms-input-placeholder {
  color: #fff;
}
.contacts__field::-ms-input-placeholder {
  color: #fff;
}
.contacts__field::placeholder {
  color: #fff;
}
.contacts__form input {
  margin-bottom: 20px;
}
.contacts__form textarea {
  height: 220px;
}
.contacts__btn {
  margin-top: 40px;
  padding: 15px 45px;
}
.contacts__inf .heading__subtitle {
  margin-bottom: 30px;
}
.contacts__link {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.contacts__link:hover {
  color: var(--star-blue);
}
.contacts__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  margin: 10px -10px -10px -10px;
}
.contacts__social a:nth-child(n) {
  margin: 0;
  padding: 10px;
}
.contacts__error {
  color: var(--star-blue);
  font-size: 14px;
}
.contacts__form input ~ .contacts__error {
  margin: -10px 0 10px 0;
}
.contacts__form textarea ~ .contacts__error {
  margin: 10px 0 0 0;
}
.details__body {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.details__img {
  width: 25%;
  max-width: 450px;
}
.details__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.details__content {
  padding-left: 40px;
  width: 75%;
}
.details__inf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.details__inf:first-child {
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}
.details__inf:not(:first-child) {
  padding: 5px 0;
}
.details .movie__rate {
  margin-right: 25px;
}
.details__title {
  -webkit-flex-basis: 150px;
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.details__value {
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  padding-left: 20px;
  font-size: 18px;
}
.details__descr {
  font-size: 20px;
  line-height: 150%;
  color: var(--gray);
  margin-top: 50px;
}
.page-404 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page-404__wrapper {
  max-width: 500px;
  width: 100%;
  padding: 40px;
}
.page-404__body {
  -webkit-box-shadow: 0 0 10px 0 #000;
  -moz-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000;
  padding: 40px 30px;
  text-align: center;
}
.page-404__title {
  font-size: 80px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.page-404__descr {
  margin-bottom: 30px;
}
.page-404__btn {
  padding: 15px 45px;
}
