.container {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .container {
    max-width: 1100px;
  }
  .movies__wrapper {
    width: 20%;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 767px;
  }
  .nav {
    display: none;
  }
  .header__buttons > svg {
    display: block;
  }
  .features__wrapper {
    width: 33.3333%;
  }
  .slider-movie {
    padding: 100px 0;
  }
  .slider-movie__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slider-movie__content {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: center;
  }
  .slider-movie__inf {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider-movie__image {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 20px;
  }
  .movies__wrapper {
    width: 25%;
  }
  .pricing__wrapper {
    width: 50%;
  }
  .steps__wrapper {
    width: 50%;
  }
  .details__img {
    width: 35%;
  }
  .details__content {
    width: 65%;
    padding-left: 30px;
  }
  .footer__body {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -20px;
  }
  .footer__column {
    padding: 20px;
  }
  .footer__column:nth-child(n) {
    min-width: 50%;
    max-width: 0;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  .section-padding {
    padding: 30px 0;
  }
  .main {
    padding-bottom: 40px;
  }
  .movies__wrapper {
    width: 33.3333%;
  }
  .heading__title,
  .heading__title--big {
    font-size: 28px;
  }
  .heading__subtitle--big {
    font-size: 16px;
  }
  .heading__subtitle {
    line-height: 120%;
  }
  .slider-movie__title {
    font-size: 40px;
  }
  .slider-movie__descr {
    font-size: 16px;
  }
  .features__grid {
    margin: -10px;
  }
  .features__wrapper {
    padding: 10px;
    width: 50%;
  }
  .steps__grid {
    margin: -10px;
  }
  .steps__wrapper {
    padding: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 320px;
    -moz-box-flex: 1;
    -ms-flex: 1 1 320px;
    flex: 1 1 320px;
  }
  .drop-down {
    top: 100%;
  }
  .about-us__heading h1 {
    margin-bottom: 30px;
  }
  .contacts__form {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .contacts__inf {
    width: 100%;
  }
  .details__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .details__img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 30px;
  }
  .details__content {
    width: 100%;
    padding: 0;
  }
  .details__inf {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .details__descr {
    margin-top: 25px;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .main {
    padding-bottom: 20px;
  }
  .heading {
    margin-bottom: 25px;
  }
  .heading__subtitle {
    margin-top: 15px;
  }
  .section-padding {
    padding: 20px 0;
  }
  .page-heading {
    padding: 50px 0;
  }
  .page-heading__title {
    font-size: 30px;
  }
  .header__logo {
    max-width: 120px;
  }
  .header__sign {
    padding: 10px 25px;
  }
  .header__sign {
    padding: 10px;
  }
  .header__sign span {
    display: none;
  }
  .header__sign svg {
    display: block;
  }
  .slider-movie {
    padding: 50px 0;
  }
  .slider-movie__title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .slider-movie__inf {
    margin-bottom: 0;
  }
  .slider-movie__btn {
    padding: 15px 35px;
  }
  .movies__grid {
    margin: -10px -10px 15px -10px;
  }
  .movies__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 200px;
    -moz-box-flex: 1;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
    padding: 10px;
  }
  .movies__btn {
    padding: 12px 35px;
    font-size: 14px;
  }
  .new-movies__grid {
    margin: -5px;
  }
  .pricing__wrapper {
    width: 100%;
  }
  .pricing__card {
    padding: 15px;
  }
  .pricing__heading {
    margin-bottom: 10px;
  }
  .pricing__type {
    font-size: 22px;
  }
  .pricing__pricing {
    font-size: 20px;
  }
  .features__title {
    font-size: 18px;
  }
  .features__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 200px;
    -moz-box-flex: 1;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
  }
  .steps__card {
    padding: 15px;
  }
  .steps__number {
    font-size: 22px;
  }
  .steps__title {
    font-size: 18px;
  }
  .about-us__heading h1 {
    margin-bottom: 20px;
  }
  .qa__heading {
    padding: 15px;
    font-size: 16px;
  }
  .qa__content {
    padding: 0 15px;
  }
  .qa__item--active .qa__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .contacts__fields {
    padding: 15px;
  }
  .contacts .heading__subtitle {
    margin-bottom: 15px;
  }
  .contacts__social {
    margin-top: -10px;
  }
  .contacts__btn {
    padding: 15px 35px;
  }
  .page-404__wrapper {
    padding: 20px;
  }
  .page-404__title {
    font-size: 60px;
  }
  .page-404__btn {
    font-size: 14px;
    padding: 12px 30px;
  }
  .footer {
    padding: 30px 0;
  }
  .footer__body {
    margin: -10px;
  }
  .footer__column:first-child img {
    max-width: 120px;
  }
  .footer__column:nth-child(n) {
    min-width: 100%;
    padding: 10px;
  }
}
